@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your global CSS or the Navbar component's styles */
.fixed {
    z-index: 1000; /* Ensure this is higher than other elements */
}

html, body {
    width: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    overflow-x: hidden; /* Prevent horizontal overflow */
}